* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
.top {
    flex-grow: 1;
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.text {
    font-size: 16px;
    line-height: 26px;
    color: #1f3f68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

/* Landscape tablet */

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }
}
